@charset 'utf-8';

body,
html {
	height: 100%;
	margin: 0;
	transition: all .3s;
}

body {
	background: #2c3e50; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #4ca1af, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#4ca1af,
		#2c3e50
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.overlay-toggle {
	background: rgba(50, 50, 50, .9);
	/* filter: blur(1px); */
	position: absolute;
	z-index: 998;
	width: 100vw;
	height: 100vh;
}
.loginWindow {
	visibility: hidden;
	position: absolute;
	width: 400px;
	height: 200px;
	border: 1px solid black;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #cc2b5e;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #753a88, #cc2b5e);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#753a88,
		#cc2b5e
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	z-index: 999;
	filter: none !important;
}
.loginWindow-toggle {
	visibility: visible;
}
.loginWindow form {
	width: 100%;
	padding: 20px;
}
.loginWindow form input {
	width: 70%;
	padding: 15px;
	border-radius: 4px;
	outline: none;
	border: 1px solid rebeccapurple;
	height: 10px;
}
.loginWindow form input::placeholder {
	color: rebeccapurple;
}
.fa-check-square {
	font-size: 30px;
}
.fa-check-square:hover {
	color: green;
}
.grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template: repeat(2, 1fr);
}
.grid-item {
	border: 1px solid white;
	transition: all .5s;
}
.grid-item:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-item:nth-child(1) button {
	width: 150px;
	height: 50px;
	outline: none;
	border-radius: 5px;
	background: #9b59b6;
	border: none;
	box-shadow: 2px 2px 2px #000;
	color: #fff;
	text-transform: uppercase;
	transition: all .3s;
}
.grid-item:nth-child(1) button:hover {
	box-shadow: 2px 2px 2px #333;
}
.darkMode {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.darkMode .fa-moon {
	font-size: 6vmax;
	transition: all .5s;
}
.dark {
	background: #333;
}
.darkMoon {
	color: #cc2b5e;
}
